.container {
  display: flex;
  flex-direction: column;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
  margin: auto;
  min-height: 200px;
  width: 600px;
}
#section2 {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  text-align: center;
  font-weight: normal;
  color: black;
  text-decoration: underline;
}

img {
  margin: auto;
  margin: 20px auto;

  height: 150px;
  width: 450px;
  border: 2px solid black;
  border-radius: 20px;
  opacity: 0, 5;
  transition: 0.25s ease-in-out;
}

.form-select {
  margin-top: 20px;
  height: 40px;
  cursor: pointer;
  margin: 20px;
  
}


option  {
  color: white;
  background-color: blue;
}

select:hover {
  background-color: darkblue;
  color: white;
}

#showLeauges {
  display: flex;
  align-items: center;
  flex-direction: column;
}
